<h1>本検索</h1>
<div class='content'>
  <div id="search-box">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <div class="form-group" >
        <%= f.text_field :title, class: "form-control", :placeholder => "本のタイトル" %>
        <%= f.submit '検索', class: "form-control btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
<div id='book_list'>
  <% if @books.present? %>
  <h1>検索結果</h1>
    <%= render "books/book_list" %>
  <% end %>
</div>