<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>ようこそ「本検索サービス」へ！</h1>
    <h2>「本検索サービスの説明」</h2>
    <p>自分が気になっている本を検索できます。<br>また、気になった本があれば欲しい本リストに追加できます。</p>
    <%= link_to 'まずは、会員登録しましょう！', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
<% end %>